:root{
    --primary-color:white;
    --secondary-color: #ff0045;
    --tertiary-color: black;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
    padding: 40px;
    border-top:1px solid var(--secondary-color);
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

h5{
    color: var(--secondary-color);
}
