:root{
    --primary-color:white;
    --secondary-color: #ff0045;
    --tertiary-color: black;
}

::selection{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


h4{
    color: var(--secondary-color);
}

/*Formulario*/
.formulario{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

form{
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

input[type="text"]{
    outline: none;
    padding: 5px;
}

input[type="email"]{
    outline: none;
    padding: 5px;
}

input[type="password"]{
    outline: none;
    padding: 5px;
}

button[type="submit"]{
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: auto;
}

a.recuperar{
    font-size: .7rem;
    color: var(--secondary-color);
}

a.recuperar:hover{
    color: #ff2d65;
}


button[type="submit"]:hover{
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color:var(--secondary-color);
    transition: all .5s;
}